@font-face {
  font-family: LeagueGothic;
  src: url(../../font/leaguegothic-regular-webfont.woff);
}
@font-face {
  font-family: "CD";
  src: url(../../font/CaviarDreams.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  background-image: url(../../assets/backgrounds/BGhome-min.png);
  background-size: cover;
  color: white;
}

.main {
  flex: 1;
  padding: 1rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  font-size: x-large;
  align-items: center;
  font-family: CD;
  font-weight: 600;
}

.logo img {
  margin-right: 1rem;
  height: 50px;
  object-fit: contain;
}

/* the main content css goes from here */

.main-content {
  /* border: 1px solid white; */
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CD;
}

/* the main content css ends here*/

@media all and (max-width: 800px) {
  .main {
    margin-right: 50px;
  }
}

/* the main container responsive css goes here*/

/* the main container responsive styles ends here*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.76);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
